body {
    background-color: #1A1A1A;
    overflow: hidden;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mountains img:first-child{
    position: sticky;
    left: 0;
    bottom: -15%;
}

.mountains img:last-child{
    position: sticky;
    left: 0;
    bottom: -10%;
}

.moon {
    position: absolute;
    top: 4%;
}

.langs img:nth-child(1) {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 80px;
}

.langs img:nth-child(2) {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 80px;
}

.langs img:nth-child(3) {
    position: absolute;
    top: 29%;
    left: 27%;
    width: 80px;
}

.langs img:nth-child(4) {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 80px;
}

.langs img:nth-child(5) {
    position: absolute;
    top: 10%;
    left: 60%;
    width: 80px;
}

.langs img:nth-child(6) {
    position: absolute;
    top: 3%;
    left: 68%;
    width: 80px;
}

.langs img:nth-child(7) {
    position: absolute;
    top: 4%;
    left: 76%;
    width: 80px;
}

.langs img:nth-child(8) {
    position: absolute;
    top: 0.5%;
    left: 85%;
    width: 80px;
}

.title-container {
    position: absolute;
    top: 4%;
    right: 2%;
    font-family: Lato;
    font-weight: 800;
    font-size: 60px;
    color: #FFFBDC;
}

.icons-row {
    display: flex;
    align-items: flex-start
}

.icons-row img {
    width: 90px;
}

.icons-row img:first-child {
    width: 70px;
    margin-right: 70px;
    margin-top: 70px;
}