@font-face {
  font-family: Lato;
  src: url('/src/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: DelaGothicOne;
  src: url('/src/fonts/.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('/src/fonts/Montserrat-Regular.ttf');
}